body {
  margin: 0;
  padding: 0; }

body {
  background: #004643;
  color: #fff; }

.bg-faint {
  background-color: #ABD1C6; }

footer p {
  font-size: 0.6rem; }

.background-overlay {
  background-image: url(../img/grunge-bg.png); }

@media only screen and (max-width: 768px) {
  .container {
    margin-top: 66px; } }
.height {
  height: 100vh; }

.card-testimonial {
  border: none;
  cursor: pointer;
  box-shadow: 0 0 40px rgba(51, 51, 51, 0.1); }

.card:hover {
  background-color: #eee; }

.ratings i {
  color: orange; }

.testimonial-list {
  list-style: none;
  text-decoration: none; }

.testimonial-list li {
  margin-bottom: 20px; }

.card .card-text {
  font-size: 0.7rem; }
.card label {
  margin-left: 10px; }
.card i {
  position: absolute;
  top: 25px;
  right: 30px; }

.modal p {
  font-size: 0.7rem; }
.modal label {
  margin-left: 10px; }
.modal i {
  position: absolute;
  top: 25px;
  right: 30px; }
.modal .modal-header {
  border-bottom: 0 solid #e5e5e5; }
