body {
  margin: 0px;
  padding: 0px; }

body {
  background: #004643;
  color: #fff; }

.bg-faint {
  background-color: #ABD1C6; }

footer p {
  font-size: 0.6rem; }

.background-overlay {
  background-image: url(../img/grunge-bg.png); }
