$primary: #004643;
$primary-overlay: rgba(251, 168, 34, 0.8);
$dark-overlay: rgba(8, 8, 8, 0.9);

body {
  margin: 0px;
  padding: 0px;
}

body {
  background: $primary;
  color: #fff;
}

.bg-faint {
  background-color: #ABD1C6;
}

footer p {
  font-size: 0.6rem;
}

.background-overlay {
  background-image: url(../img/grunge-bg.png)
}

// Testimonial styling

@media only screen and (max-width:768px) {

  .container {
    margin-top: 66px;
  }

}

.height {
  height: 100vh;
}

.card-testimonial {
  border: none;
  cursor: pointer;
  box-shadow: 0 0 40px rgba(51, 51, 51, .1)
}

.card:hover {
  background-color: #eee;

}

.ratings i {
  color: orange;
}

.testimonial-list {
  list-style: none;
  text-decoration: none;
}

.testimonial-list li {
  margin-bottom: 20px;
}

// Login-html
.card {
  .card-text {
    font-size: 0.7rem;
  }

  label {
    margin-left: 10px;
  }

  i {
    position: absolute;
    top: 25px;
    right: 30px;
    }
}

// Login Modal
.modal {

  p {
    font-size: 0.7rem;
  }

  label {
    margin-left: 10px;
  }

  i {
    position: absolute;
    top: 25px;
    right: 30px;
    }

  .modal-header {
    border-bottom: 0px solid #e5e5e5;
}
}

